.testimonial {
  padding: 80px;
  text-align: center;
}

.test-list {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.test-card {
  flex: 1;
  background: white;
  padding: 25px;
  border-radius: 20px;
  text-align: left;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  transition: 0.3s;
}

.test-card:hover {
  transform: translateY(-10px);
}

.stars {
  color: gold;
  margin-bottom: 10px;
}